* {
	font-family: "Helvetica Neue";
	font-weight: 300;
	background: #d0d0d0;	
}
ul, ol, li, body {
	margin: 0;
}
h1 {
	margin: 0;
	margin-bottom: -4px;
}
ul, ol {
	padding-left: 1.5em;
}

li {
	padding: 4px;
}
li:last-child {
	padding-bottom: 0;
}
li:first-child {
	padding-top: 8px;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
		color: #339900;
}

#content {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	padding-bottom: 3vh;
}